@charset "utf-8";
@media screen and (min-width:320px){html{font-size:16px;}}
@media screen and (min-width:346px){html{font-size:17.3px;}}
@media screen and (min-width:352px){html{font-size:17.6px;}}
@media screen and (min-width:360px){html{font-size:18px;}}
@media screen and (min-width:375px){html{font-size:18.7px;}}
@media screen and (min-width:400px){html{font-size:20px;}}
@media screen and (min-width:412px){html{font-size:20.6px;}}
@media screen and (min-width:414px){html{font-size:20.7px;}}
@media screen and (min-width:480px){html{font-size:24px;}}
@media screen and (min-width:560px){html{font-size:28px;}}
@media screen and (min-width:640px){html{font-size:32px;}}
@media screen and (min-width:750px){html{font-size:37.5px;}}
* {
    /**
     * 简单粗暴, 一劳永逸的写法
     */
    padding: 0;
    margin: 0;
    font: inherit;
    vertical-align: baseline;
  }
  
  * {
    /*
     * 这个属性只用于iOS, 当你点击一个链接或者通过Javascript定义的可点击元素的时候
     * 它就会出现一个半透明的灰色背景
    */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  html {
    -webkit-text-size-adjust: 100%; /* 禁止字体变化 */
  }
  
  body {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    -webkit-overflow-scrolling: touch; /* 设置滚动容器的滚动效果 */
    -webkit-font-smoothing: antialiased; /* 字体抗锯齿渲染 */
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',Arial,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a, a:active, a:hover {
    /**
     * 某些浏览器会给 a 设置默认颜色
     */
    color: unset;
    text-decoration: none;
  }
  
  ol, ul, li {
    /**
     * 去掉列表样式
     */
    list-style: none;
  }
  
  img {
    border: 0;
    vertical-align: middle
  }
  
  table {
    /**
     * 去掉 td 与 td 之间的空隙
     */
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  input, textarea, select {
    outline: none; /*去掉fouce时边框高亮效果*/
    background: unset; /*去掉默认背景*/
    appearance: none;
    -webkit-appearance: none; /* 去除ios输入框阴影 */
  }
  
  /* 禁止选中文本内容 */
  *:not(input, select, textArea) {
    -webkit-user-select: none;
  }


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
